body{
  margin: 0px;
}

.info{
  text-align: center;
}

h1{
  color: #FFFFFF;
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
}

h2{
  color: #FFFFFF;
  font-family: 'Raleway', sans-serif;
  font-size: 35px;
}

input{
  border: none;
  border-radius: 5px;
  font-family: 'Raleway', sans-serif;
  height: 25px;
  width: 200px;
}

#send{
  background-color: #7B96D4;
  border: none;
  border-radius: 5px;
  color: #FFFFFF;
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  margin: 15px;
}

#send:hover{
  background-color: #FF5757;
  color: #FFFFFF;
}

#goBack{
  color: #FFFFFF;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
}

#goBack:hover{
  color: #FF5757;
}

img{
  width: 380px;
}