<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>repl.it</title>
    <link href="blogstyle.css" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
  </head>
  <body>
   <center>
     <div class="logo">
    <img src="venturesketchedit.png" alt="venturesketch">
    </div> </center>

  
    <div class="multi-button">
  <button onclick="window.location.href='index.html'">ABOUT US</button>
  <button onclick="window.location.href='art(blog).html'">ART NEWS</button>
  <button onclick="window.location.href='design.html'"> HIGHLIGHTS</button>
</div>
 
  <h3> We created VentureSketch because we love to create new things in our spare time. We also want to help others with our art. VentureSketch helps out non-profits with advertisements and gives digital artists a way to create for others.  Groups can put out requirements for their ads and artists can try to satisfy those demands.  

Meet the art inspired creators of VentureSketch: 
  </h3>

 

 <center> <div class="founders">

 <h3> Lian Wang </h3>
<img src="lianprofile.jpg" alt="Lian Wang" > 


<h3> Smera Jain </h3>
<img src="smeraprofile.png" alt= "Smera Jain">


<h3> Christine Lee </h3>
<img src="christineprofile.png" alt= "Christine Lee">

<h3> Jinny Cha  </h3>
<img src="" alt= "Jinny Cha ">
</div></center>

<div class= "home">
<h3>
<a href="https://venturesketchhomepage.smerajain.repl.co/#home" target="_blank">Back to home</a>
   
    </h3>
</div>
    <script src="script.js"></script>
  </body>
</html>