<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Forgot Password? - VentureSketch</title>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <link href="/css/forgotPassword.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="topnav">
      <img src="/pictures/VentureSketchLogoWordsRight.png" id="LogoTopLeftAlways">
      <a href="/html/signUp.html"> Signup </a>
      <a href="/html/artGallery.html">Art Gallery</a>
      <a href="/html/listings.html"> Listings </a>
			<a href="/html/inquiries.html">Inquiries</a>
      <a href="https://venturesketchblog.lianwang.repl.co/index.html" target="_blank">Blog</a>
			<a href="/index.html">Home</a>
		</div>

    <div class="info">
      <h1>We Will Send You a New Password via Email.</h1>
      <h2>Enter your email & click the button.</h2>
      <img src="/pictures/paperPlane.png" alt="Paper Plane">
      <br><br>
      <input id='enteredEmail' type="email">
      <br>
      <button id="send" onclick='sendEmail'>Send!</button>
      <br><br>
      <a href="login.html" id="goBack">Go Back to Login Page</a>
    </div>
    <script src="/js/forgotPassword.js"></script>
  </body>
</html>