<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Sign Up: Non-profit Organization - VentureSketch</title>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <link href="/css/npoSU.css" rel="stylesheet" type="text/css" />
  </head>
  
  <body>
    <div class="topnav">
      <img src="/pictures/VentureSketchLogoWordsRight.png" id="LogoTopLeftAlways">
      <a class="active" href="/html/signUp.html"> Signup </a>
      <a href="/html/login.html"> Login </a>
      <a href="/html/artGallery.html">Art Gallery</a>
      <a href="/html/listings.html"> Listings </a>
			<a href="/html/inquiries.html">Inquiries</a>
      <a href="https://venturesketchblog.lianwang.repl.co/index.html" target="_blank">Blog</a>
			<a href="/index.html">Home</a>
		</div>

    <h1>Welcome, New NPOs!</h1>
    <h2>- Sign Up: Non-profit Organizers -</h2>
    <div class="content">
      <br>
      <label>Company Name</label>
      <input id='compName' type="text">
      <br>
      <label>Company Description</label>
      <textarea id='compDesc' type="text"></textarea>
      <a href='/html/verify.html'><button id="join" onclick="clickJoinNPO()">Join!</button></a>
      <br>  
      <a href="/html/signUp.html">Back to Sign Up Page</a>
      <br><br>
    </div>
    <script src="/js/signUp.js"></script>
  </body>
</html>